[Desktop Entry]
Name=Heroic Games Launcher
Exec=bin/Heroic
Icon=.local/share/icons/heroic.png
Type=Application
Categories=Game;
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/heroic;
