[Desktop Entry]
Name=Heroic Games Launcher
Exec=/home/otavio/bin/Heroic
Icon=/home/otavio/.local/share/icons/heroic.png
Type=Application
Categories=Game;
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/heroic;
