[Desktop Entry]
Name=Obsidian
Exec=/home/otavio/bin/obsidian
Icon=/home/otavio/.local/share/icons/obsidian-icon.png
Type=Application
Categories=Utility;TextEditor;Development;
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/obsidian;
