[Desktop Entry]
Name=Obsidian
Exec=bin/obsidian
Icon=.local/share/icons/obsidian-icon.png
Type=Application
Categories=Utility;TextEditor;Development;
StartupNotify=true
Terminal=false
MimeType=x-scheme-handler/obsidian;
