[Desktop Entry]
Version=1.0
Type=Application
Name=Yazi File Manager
Comment=Terminal-based file manager
Exec=.local/kitty.app/bin/kitty -e zsh -i -c "[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh; yazi"
Icon=.local/share/icons/yazi.png
Terminal=false
Categories=System;FileTools;FileManager;
