[Desktop Entry]
Version=1.0
Type=Application
Name=Yazi File Manager
Comment=Terminal-based file manager
Exec=alacritty -e zsh -i -c "[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh; yazi"
Icon=/home/otavio/.local/share/icons/yazi.png
Terminal=false
Categories=System;FileTools;FileManager;
